<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicTheoryHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63A683F91F3AAA1600B17DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63A6840D1F3AAA1600B17DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63A684181F3AAA1600B17DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
